<html>
<head><title>Group Transaction</title></head>
<body>
    <h2>Add new Group Transaction</h2>
    <h1>{{name}}</h1>
    <h2>Paid by</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Amount</th>
        </tr>
        {% for i in payerList %}
            <tr>
                {% for j in i %}
                    <td>{{j}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <hr/>
    <h3>Add Payer</h3>


    <form action= "{{url_for('execGroupTransaction')}}" method="POST">
        Email:
        <input type="email" name = "email"/>
        &nbsp;
        Amount:
        <input type="number" name = "amount"/>
        <input type="hidden" name="groupTransaction_id" value={{groupTransaction_id}} />
        <h3>Members to be added</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th class = "Sharing">Shares</th>
                <th>Include</th>
            </tr>
            {% for i in memberList %}
                <tr>
                    {% for j in i %}
                        <td>{{j}}</td>
                    {% endfor %}
                    <td class = "Sharing"><input type="number" name = "share{{loop.index}}" values=1/></td>
                   <td><input type="checkbox" name = "member{{loop.index}}"/></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit"/>

    </form>
</body>
</html>
