<html>
   <body>

      <form action = "{{ url_for('addTransactionToData') }}" method = "POST">
         <h3>Add Transaction</h3>
         Title<br>
         <input type = "text" name = "nm" /></br>
         <input type = "hidden" name = "sender" value = {{user_id}} /><br />
         Receiver_Email<br>
         <input type = "email" name = 'receiver'/></br>
         Amount<br>
         <input type = "text" name = 'amt'/></br>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
